.fill { 
    min-height: 100vh;
    
}

.bgimg {
    background-image: url("../Images/background.jpg");
    
}

.profilePic {
    position: relative;
    top: 60px;
}
.cardPosition {
    margin: auto;
    width: 50%;
}
.cardSize {
    position: relative;
    top: 100px;
    width: 275px;
    height: 275px;
}