.fill { 
    min-height: 100vh;
    
}

.bgimg {
    background-image: url("../Images/background.jpg");
    
}

.profilePic {
    position: relative;
    top: 40px;
}
.cardPosition {
    margin: auto;
    width: 50%;
    top: 50px;
}
.cardDetails {
    width: 305px;
    height: 305px;
    background-color: rgba(255,255,255, .65);
    border-radius: 15px;
    
}

hr.bold {
    border: 1px solid black;
    opacity: 1;
    
}

.qrPosition {
    position: relative;
    top: 65px;
}