.fill { 
    min-height: 100vh;
    
}

.bgimg {
    background-image: url("../Images/background.jpg");
    
}

.profilepic {
    position: relative;
    top: 60px;
}

.content{
    position: relative;
    top: 200px;
}